flows.json
[{"id":"e6b65259.adbf5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"48cf9eba.4f2c7","type":"ui_dropdown","z":"e6b65259.adbf5","name":"","label":"","tooltip":"","place":"Select Customer from List","group":"a8d6ebe3.95c488","order":4,"width":10,"height":3,"passthru":true,"multiple":false,"options":[{"label":"Mahankali Surya Tej","value":"Mahankali Surya Tej","type":"str"},{"label":"Pradeepthi","value":"Pradeepthi","type":"str"},{"label":"Rahil","value":"Rahil","type":"str"},{"label":"Supriya","value":"Supriya","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":120,"y":100,"wires":[["3494bb97.73a3b4","5dee43b6.bad49c"]]},{"id":"5dee43b6.bad49c","type":"cloudant in","z":"e6b65259.adbf5","name":"","cloudant":"","database":"employee","service":"node-red-dpeln-2021--cloudant-1628059971628-67857","search":"_id_","design":"","index":"","x":340,"y":40,"wires":[["82038e69.7659e","1c8c13b2.4e2d6c"]]},{"id":"3494bb97.73a3b4","type":"debug","z":"e6b65259.adbf5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":150,"y":240,"wires":[]},{"id":"82038e69.7659e","type":"debug","z":"e6b65259.adbf5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":40,"wires":[]},{"id":"1c8c13b2.4e2d6c","type":"function","z":"e6b65259.adbf5","name":"","func":"msg.payload=msg.payload.conv\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":180,"wires":[["b7bb449b.6cd7b8","3c647033.f3e0f"]]},{"id":"b7bb449b.6cd7b8","type":"watson-tone-analyzer-v3","z":"e6b65259.adbf5","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"customerEngagementTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/54779074-e2fc-415a-a18f-26a17d57762c","x":540,"y":120,"wires":[["6101d46d.8465fc","7a2dd1b5.6347f"]]},{"id":"6101d46d.8465fc","type":"debug","z":"e6b65259.adbf5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":100,"wires":[]},{"id":"3c647033.f3e0f","type":"debug","z":"e6b65259.adbf5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":280,"wires":[]},{"id":"7a2dd1b5.6347f","type":"function","z":"e6b65259.adbf5","name":"","func":"var p=0\nvar ex=0\nvar fr =0;\nvar ip=0;\nvar s =0;\nvar sa=0;\nvar sy=0\nvar n=\"\"\nvar ut=msg.response.utterances_tone;\n//msg.payload=tone.length\nfor (i=0;i<ut.length;i++){\n    var tone=msg.response.utterances_tone[i].tones.length\n    for (j=0;j<tone;j++){\n        n=msg.response.utterances_tone[i].tones[j].tone_name;\n       if(msg.response.utterances_tone[i].tones[j].tone_name==\"Polite\"){\n           p=p+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Sad\"){\n           s=s+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Frustrated\"){\n           fr=fr+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Impolite\"){\n           ip=ip+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Satisfied\"){\n           sa=sa+1\n       }\n        else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Sympathetic\"){\n           sy=sy+1\n       }\n        \n    }\n}//\n// \"data\": [ [p], [s], [fr],[ip],[sa],[sy]],\n//msg.payload=n\nmsg.payload=[{\"series\":[\"Data\"],\n    \"data\": [ p, s, fr,ip,sa,sy],\n    \"labels\": [ \"polite\",\"sad\", \"frustrated\",\"impolite\",\"satisfied\",\"sympathetic\"]}]\n//msg.payload={\"polite\":p,\"sad\":s,\"frustrated\":fr,\"impolite\":ip,\"satisfied\":sa,\"sympathetic\":sy}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":240,"wires":[["2e33cf88.395a","3951005d.a4da4","23f500ce.2f145"]]},{"id":"2e33cf88.395a","type":"debug","z":"e6b65259.adbf5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":340,"wires":[]},{"id":"3951005d.a4da4","type":"ui_chart","z":"e6b65259.adbf5","name":"","group":"a8d6ebe3.95c488","order":2,"width":12,"height":7,"label":"Sentiment Analysis","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0095ff","#aec7e8","#c9905e","#639263","#2c6420","#b81919","#ff9896","#8659b1","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":570,"y":380,"wires":[[]]},{"id":"23f500ce.2f145","type":"function","z":"e6b65259.adbf5","name":"","func":"msg.payload=msg.response.utterances_tone\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":420,"wires":[["98ed7538.dd7538"]]},{"id":"98ed7538.dd7538","type":"cloudant out","z":"e6b65259.adbf5","name":"","cloudant":"","database":"Sentiment","service":"node-red-dpeln-2021--cloudant-1628059971628-67857","payonly":false,"operation":"insert","x":620,"y":520,"wires":[]},{"id":"a8d6ebe3.95c488","type":"ui_group","name":"Select Employee","tab":"497b48c6.04fe78","order":1,"disp":true,"width":"22","collapse":false},{"id":"497b48c6.04fe78","type":"ui_tab","name":"Customer Satisfaction","icon":"dashboard","disabled":false,"hidden":false}]